html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white ;
}

/* Site introduction*/

.introduction{
    width:50%;
    padding-left:25%;
}

.introduction h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
    font-size: 250%;
    font-weight: bold;
    color: grey;
    text-align: center;
    padding: 2%;
    text-shadow: 0 0 250px black;
}
.introduction p{
    font-family: "Berlin Sans FB", "sans-serif";
    color: black;
    font-size: 150%;
    padding-bottom: 3%;
}

/*Collection link style*/
.bigcontainer{
   width: 100%;
   background-color: grey;
}
.container {
    position: relative;
    width: 50%;
    margin-left:25%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
}

/*Categories style*/
.categoriesBigcontainer{
   width: 100%;
   background-color: #ebedeb;
}

.categoriesBigcontainer a{
   text-decoration: none;
   color: #303630;
}

#categories-header{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
    margin: 0;
    color: #303630;
    margin-top: 10%;
}

#categories-header span{
    background-color: #ebedeb;
    padding: 1%;
    border-radius: 20%;
}

h3{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: #303630;
    text-align: center;
    background-color:#ebedeb ;
}

p{
    font-family: "Berlin Sans FB", "sans-serif";
    color: black;
    font-size: 150%;
    line-height: 180%;
    text-align: justify;
    font-weight: 300;
    color: #303630;

}

img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

 .left-col{
    width: 55%;
    float: left;
    margin: 4% 0 4% 4%;
    background-color: #ebedeb;
    padding: 2%;
}

.side-bar{
    width: 26%;
    float: left;
    margin: 8% 4% 4%;
}

/*Menu and Wallpaper*/
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("img_main.jpg") no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: auto;
}

.content h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 2%;
    text-shadow: 0 0 250px black;
}

.inner{
    max-width: 600px;
    margin: auto;
    font-size: 170%;
    line-height: 160%;
    padding: 10px;
}

/*Navigation Bar Below*/

nav{
    float: left;
    padding: 5% 5% 0 0;
    height: 50px;
}

nav ul{
    list-style: none;
    float: left;
}

nav ul li{
    font-family: "Berlin Sans FB", "sans-serif";
    font-size: 120%;
    font-weight: bold;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul, nav:active ul{
    display: none;
    left: 45px;
    top: 60px;
    padding: 8px 0;
    width: 20%;
    z-index: 1000; /*will make it display on top of any other element*/
}

nav li{
    width: 100%;
    padding: 8px 0 10px 7px;
    margin: 0;
}

nav:hover ul{
    display: block;
    position: absolute; /*it will make it display on the same spot*/
}

#menu-icon{
    width: 30px;
    height: 26px;
    background: url("Images/nav-icon.png") center;
    display: inline-block;
    margin: 50px 0 0 50px;
}

.clear-fix{
    clear:both;
    height: 3%;
}
