* {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white ;
}
.box_user{
    width: 75%;
    position: relative;
    padding: 1em 1.5em;
    overflow: hidden;
    text-align: center;
    margin:10%;
    background-color:#bdb7a8;
    border-radius: 20px;
}

.BigBox{
    overflow: hidden;
    margin:5%;
    background-color:#e6e6e6;
    border-radius: 20px;
    text-align:center;
    margin-top: 9%;
    padding-top: 2%;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.gallery {
    border: 1px ; /*solid #ccc;*/
    margin: 20px;
}

div.gallery:hover {
    /*border: 1px solid #777;*/
}

div.gallery img {
    width: 100%;
    height: 300px;
    opacity: 0.9;
    filter: alpha(opacity=50);

}

div.gallery img:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

/*descriere*/
div.desc {
    padding: 15px;
    text-align: center;
    font-size: 120%;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

    div.gallery img {
        height: 200px;
    }

}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.pagination {
    display: inline-block;
    /*padding-left: 30%;*/
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: grey;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.intro{
    height: 100%;
    width: 100%;
    margin:auto;
    background: url("../Images/img_main.jpg") no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: auto;
}

.content h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 2%;
    text-shadow: 0 0 250px black;
}

.content a{
    text-decoration:none;
    color: grey;
}

.inner{
    max-width: 600px;
    margin: auto;
    font-size: 170%;
    line-height: 160%;
    padding: 10px;
}

/*Meniu lateral*/
.navbar {
    background-color: grey;
    opacity: 0.7;
    filter: Alpha(opacity=50);
    position: fixed;
    top: 0;
    height: 300px;
    width: 65px;
    top:25%;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
    border-radius:0 20px 20px 0;
}

.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.navbar img{
    width: 70%;
    height: auto;
    display: inline-block;
}

.navbar a:hover {
    background: #e6b100;
    color: black;
}

