html, body{
    padding: 0;
    margin: 0;
    background-size: cover;
    background: url("../Images/img_main.jpg") no-repeat center;
    font-family: "Comic Sans MS","sans-serif";
    height: 100%;
    width: 100%;
}

.register-box{
    width: 320px;
    height: 540px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
}

.register-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.register-box input{
    width: 100%;
    margin-bottom: 10px;
}

.register-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 35px;
    color: white;
    font-size: 16px;
}

.register-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #eabf15;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.register-box input[type="submit"]:hover{
    cursor: pointer;
    background: black;
    color: white;
}

.register-box a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 20px;
}

.register-box a:hover{
    text-decoration: none;
    color: #eabf15;
}

/*Meniu lateral*/
.navbar {
    background-color: grey;
    opacity: 0.7;
    filter: Alpha(opacity=50);
    position: fixed;
    top: 0;
    height: 300px;
    width: 65px;
    top:25%;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
    border-radius:0 20px 20px 0;
}

.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.navbar img{
    width: 70%;
    height: auto;
    display: inline-block;
}

.navbar a:hover {
    background: #e6b100;
    color: black;
}
/*End:meniu lateral;*/